<style>
    .profile-page{
        text-align: center;
        font-size: larger;
        padding: 2%;
        color: white;
    }
</style>
<div class="profile-page">
    <h1 style="text-transform: uppercase;padding-top: 30px; padding-bottom: 10px;">Profile Page</h1>
    <div style="display: grid;align-items: center;">
        <p>Name : <%= user.name %></p>
        <p>Email : <%= user.email %></p>
    </div>
</div>